/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #303030;
    font-family: 'Helvetica', sans-serif;
}

html, body { height: 100%; margin: 0; }

.card {
    background-color: #424242;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    padding: 16px;
}

button {
    background-color: white;
    color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}